.video{
    /* float:right; */
    text-align: center;
    margin-top: 200px;
}

.social{
    height: 50px;
    width: 750x; 
    display: inline-block;
    margin-left: 775px;
    margin-top: 15px;
}
i{
    color:white;
    margin-left: 25px;
}
footer{
    background-color: black;
    height: 105px;
    margin-top:600px;
}

main{
    height:200px;

}
footer{
    background-color: black;
    height: 98px;
}
.words{
    margin: 10px;
    text-align: center;
    margin-top: 50px;
    color:white
    font-size: 55px;
    
}
h1{
    margin: 10px;
    text-align: center;
}